<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8RH11W01F6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8RH11W01F6');
    </script>

    <title>Tushar Mopuri</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>

    <link rel="stylesheet" href="{{site.baseurl}}styles/tailwind.css">
    <link rel="stylesheet" href="{{site.baseurl}}styles/custom.css">

  </head>
  <body>
      {{ content }}
  </body>
</html>

