---
layout: default
---

<div class="px-3 lg:px-0 lg:w-1/2 mx-auto">

<div class="mx-auto my-4 flex flex-row align-center items-center">

<div>
<img class="p-3" src="https://splab.cis.upenn.edu/img/people/TusharM.jpg" alt="drawing" width="233"/>
</div>

<div class="flex-grow ml-2 h-full text-center">
<p class="font-serif my-0 text-2xl font-medium">Tushar Mopuri</p>
<p class="my-0 font-mono text-lg"><a href="mailto:tmopuri@seas.upenn.edu">tmopuri@seas.upenn.edu</a></p>
<p class="font-serif my-0 text-lg">Computer and Information Science</p>
<p class="font-serif my-0 text-lg">University of Pennsylvania</p>
</div>

</div>
 
<article class="mb-6">
{{ content }}
</article>

</div>
