---
layout: default
---

<div class="px-3 lg:px-0 lg:w-1/2 mx-auto">

<div class="mx-auto my-4 flex flex-row align-center items-center">

<div>
<img class="p-3" src="https://splab.cis.upenn.edu/img/people/TusharM.jpg" alt="drawing" width="233"/>
</div>

<div class="lead flex-grow ml-2 h-full text-center">
<p style="font-size:1.5rem" class="font-serif my-0 font-medium">Tushar Mopuri</p>
<p style="font-size:1.0rem" class="my-0 font-mono"><a href="mailto:tmopuri@seas.upenn.edu">tmopuri@seas.upenn.edu</a></p>
<p style="font-size:1.0rem" class="font-serif my-0">Computer and Information Science</p>
<p style="font-size:1.0rem" class="font-serif my-0">University of Pennsylvania</p>
</div>

</div>
 
<article class="mb-6">
{{ content }}
</article>

</div>
